In [1]:
import pandas as pd

In [11]:
customerData = pd.read_csv("C:\\Users\\Administrator\\Python_ST_EX\\dataset\\kopo_customerdata.csv")

In [8]:
pwd

'C:\\Users\\Administrator\\Python_ST_EX'

In [12]:
customerData.head(5)

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0
3,2483305,State2,2,Male,0,1,0,1,31400,0,31400,0,0,0,1,0
4,1178802,State2,2,Male,0,1,0,1,44900,0,0,44900,0,0,1,0

In [18]:
customerData2 = pd.read_csv("./dataset/kopo_customerdata.csv")

In [14]:
pwd

'C:\\Users\\Administrator\\Python_ST_EX'

In [19]:
customerData2

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0
3,2483305,State2,2,Male,0,1,0,1,31400,0,31400,0,0,0,1,0
4,1178802,State2,2,Male,0,1,0,1,44900,0,0,44900,0,0,1,0
5,859044,State2,2,Male,0,1,0,0,38300,38300,0,0,0,0,1,0
6,734198,State2,2,Female,0,2,0,0,19900,0,0,19900,0,0,1,0
7,1443485,State2,2,Female,0,2,0,0,14800,0,0,14800,0,0,1,0
8,2340520,State2,2,Male,0,1,0,1,24400,0,0,24400,0,0,1,0
9,697949,State2,2,Male,0,1,0,1,30400,0,0,30400,0,0,1,0
10,385031,State2,2,Male,0,1,0,1,30300,0,0,30300,0,0,1,0
11,1944258,State2,2,Female,0,2,0,0,34300,0,18000,16300,0,0,1,0
12,2029521,State2,2,Female,0,2,0,0,14900,0,0,14900,0,0,1,0
13,1429192,State2,2,Male,0,1,0,0,16300,0,0,16300,0,0,1,0
14,892851,State2,2,Male,0,1,0,1,25000,0,0,25000,0,0,1,0
15,1554976,State2,2,Male,0,1,0,2,27500,0,0,27500,0,0,2,69
16,1154228,State2,2,Male,0,1,1,0,18200,0,0,18200,0,0,1,0
17,816582,State2,2,Male,0,1,0,1,40200,0,40200,0,0,0,2,940
18,675948,State2,2,Female,0,2,0,1,74600,0,0,74600,0,0,1,0
19,965940,State2,2,Male,0,1,0,0,42700,42700,0,0,0,0,1,0
20,2636314,State2,2,Male,0,1,0,0,14900,0,14900,0,0,0,1,0
21,577344,State2,2,Female,0,2,0,0,58700,0,24500,34200,0,0,2,21
22,910781,State2,2,Male,0,1,0,1,16000,0,16000,0,0,0,1,0
23,541107,State2,2,Female,0,2,0,1,17800,0,0,17800,0,0,1,0
24,1860112,State2,2,Male,0,1,0,0,26800,0,0,26800,0,0,1,0
25,1016762,State2,2,Male,1,1,0,1,14000,0,0,14000,0,0,1,0
26,2029821,State2,2,Male,0,1,0,0,31800,0,0,31800,0,0,1,0
27,765206,State2,2,Male,0,1,0,0,16000,0,0,16000,0,0,1,0
28,2174694,State2,2,Male,0,1,0,1,37600,0,0,37600,0,0,1,0
29,1196869,State2,2,Female,0,2,0,1,32800,0,16700,16100,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299970,2436525,State1,1,Male,0,1,0,1,67100,0,0,67100,0,0,1,0
299971,1238030,State1,1,Male,0,1,0,0,70100,0,55800,14300,0,0,3,663
299972,923009,State1,1,Male,0,1,0,1,17600,0,17600,0,0,0,1,0
299973,1433055,State1,1,Male,0,1,0,0,14200,0,0,14200,0,0,1,0
299974,2639022,State1,1,Male,0,1,0,0,66600,0,33000,33600,0,0,1,0
299975,1076615,State1,1,Male,0,1,0,1,35300,0,0,35300,0,0,1,0
299976,1017806,State1,1,Male,0,1,0,1,14900,0,0,14900,0,0,1,0
299977,1673649,State1,1,Male,0,1,0,2,26900,0,26900,0,0,0,2,511
299978,2304135,State1,1,Male,0,1,0,0,26300,0,26300,0,0,0,1,0
299979,726202,State1,1,Male,0,1,0,0,26300,0,26300,0,0,0,1,0
299980,2531738,State1,1,Male,0,1,0,0,13200,0,13200,0,0,0,1,0
299981,732024,State1,1,Male,0,1,0,0,13600,0,0,13600,0,0,1,0
299982,1829484,State1,1,Female,0,2,0,0,28500,0,0,28500,0,0,1,0
299983,923895,State1,1,Male,0,1,0,1,15600,0,15600,0,0,0,1,0
299984,2544242,State1,1,Male,0,1,0,0,18600,0,0,18600,0,0,1,0
299985,1006611,State1,1,Male,0,1,0,1,16500,0,0,16500,0,0,1,0
299986,1795625,State1,1,Male,0,1,0,1,18400,0,0,18400,0,0,1,0
299987,731422,State1,1,Male,0,1,0,0,14800,0,0,14800,0,0,1,0
299988,463974,State1,1,Male,0,1,0,0,20400,0,0,20400,0,0,1,0
299989,1274816,State1,1,Male,0,1,0,1,15900,0,15900,0,0,0,1,0
299990,2034458,State1,1,Male,0,1,0,0,24300,0,0,24300,0,0,1,0
299991,1349673,State1,1,Male,0,1,0,1,21200,0,0,21200,0,0,1,0
299992,1098613,State1,1,Male,0,1,0,0,14000,0,14000,0,0,0,1,0
299993,721218,State1,1,Male,0,1,0,0,31400,0,0,31400,0,0,1,0
299994,598593,State1,1,Male,0,1,0,0,29000,0,0,29000,0,0,1,0
299995,465757,State1,1,Male,0,1,0,0,40600,0,40600,0,0,0,1,0
299996,1890264,State1,1,Male,0,1,0,1,48000,48000,0,0,0,0,1,0
299997,1857537,State1,1,Female,0,2,0,0,32300,0,0,32300,0,0,1,0
299998,2209324,State1,1,Male,0,1,0,1,48500,0,48500,0,0,0,1,0
299999,1875146,State1,1,Male,0,1,0,1,16500,0,0,16500,0,0,1,0