In [2]:
import pandas as pd

In [38]:
customerData = pd.read_csv("../dataset/kopo_customerdata.csv")

In [6]:
amountList = customerData["TOTAL_AMOUNT"].tolist()

In [8]:
len(amountList)

300000

In [18]:
minValue=min(amountList)
minValue

0

In [22]:
maxValue=max(amountList)
maxValue

3103500

In [29]:
### min max value 삭제

In [35]:
amountList.remove(min(amountList))
amountList.remove(max(amountList))

In [36]:
average

NameError: name 'average' is not defined

In [ ]:
###리스트가 출력되도록 하세요

In [40]:
tvList2 = [ 'UN40EN001', 'UN40EN002',
'UN40EN003', 'UN40EN004']

In [48]:
for i in range(0, len(tvList2)):
    print(tvList2[i])

UN40EN001
UN40EN002
UN40EN003
UN40EN004

In [69]:
tvList2 = [ 'UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_UN40EN003', 'UN40EN004']

In [70]:
preFix = "LEDTV_"

In [90]:
for i in range(0, len(tvList2)):
    ##
    preFixCount = tvList2[i].count(preFix)
    ##
    if(preFixCount == 0):
        tvList2[i] = preFix + tvList2[i]
    ##
    else :
        tvList2[i] = tvList2[i]

In [91]:
tvList2

['LEDTV_UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_UN40EN003', 'LEDTV_UN40EN004']

In [83]:
tvList2 = [ 'UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_UN40EN003', 'UN40EN004']

In [85]:
preFix = "LEDTV_"
### range: last index is not included
### list(range(0,4))
for i in range(0,4):
    preFixCount = tvList2[i].count(preFix)
    if(preFixCount == 0):
        tvList2[i] = preFix + tvList2[i]
    else:
        tvList2[i] = tvList2[i]

In [86]:
tvList2

['LEDTV_UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_UN40EN003', 'LEDTV_UN40EN004']

In [73]:
inputList = [10.100,200,300,1000,1,2]

minValue = min(inputList)
maxValue = max(inputList)

inputList.remove(minValue)
inputlist.remove(maxValue)
average=sum(inputList) / len(inputList)

In [99]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('mysql+pymysql://kopo:kopo@13.209.112.251:3306/kopo') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine) 
selloutData.head()

  regionid productgroup yearweek    volume
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0
2      A01       ST0002   201520  125863.0
3      A01       ST0001   201515  810144.0
4      A01       ST0002   201515  128999.0

In [102]:
# 컬럼해더 재정의
selloutData.columns = ['REGIONID','PRODUCTGROUP','YEARWEEK','VOLUME']

# 데이터 저장
resultname='mysqlresult'
selloutData.to_sql(resultname, engine, if_exists='replace', index=False)

In [103]:
import pandas as pd
customerData=pd.read_csv("../dataset/kopo_customerdata.csv")

In [111]:
customerData[(customerData.GENDER=='Male') & (customerData.EMAIL > 0)]

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
16,1154228,State2,2,Male,0,1,1,0,18200,0,0,18200,0,0,1,0
81,393246,State2,2,Male,0,1,1,1,18200,0,0,18200,0,0,1,0
206,2532568,State2,2,Male,1,1,1,0,48000,48000,0,0,0,0,1,0
216,487928,State2,2,Male,0,1,1,0,72300,0,27900,44400,0,0,1,0
226,2452240,State2,2,Male,1,1,1,1,22500,0,0,22500,0,0,1,0
299,1295854,State2,2,Male,1,1,1,2,59900,0,25100,34800,0,0,4,655
308,554757,State2,2,Male,0,1,1,0,22100,0,0,22100,0,0,1,0
330,761018,State2,2,Male,1,1,1,0,21200,0,0,21200,0,0,1,0
367,2191152,State2,2,Male,0,1,1,1,55700,0,55700,0,0,0,1,0
375,867914,State2,2,Male,0,1,1,0,14300,0,14300,0,0,0,1,0
415,1804886,State2,2,Male,0,1,1,1,35300,35300,0,0,0,0,1,0
420,1708130,State2,2,Male,0,1,1,4,59400,0,19000,40400,0,0,5,471
461,1701227,State2,2,Male,1,1,1,2,180300,0,180300,0,0,1,3,629
472,783314,State2,2,Male,0,1,1,0,11700,0,0,11700,0,0,1,0
577,2202752,State2,2,Male,1,1,1,1,145500,0,145500,0,0,0,1,0
588,1930071,State2,2,Male,0,1,1,0,30900,0,0,30900,0,0,1,0
589,1313388,State2,2,Male,0,1,1,1,33700,0,33700,0,0,0,1,0
599,801903,State2,2,Male,1,1,1,0,71400,71400,0,0,0,0,2,1
622,2028191,State2,2,Male,1,1,1,0,93300,0,93300,0,0,0,2,14
632,1832133,State2,2,Male,0,1,1,0,62700,0,62700,0,0,0,1,0
635,1770645,State2,2,Male,0,1,1,1,28600,0,0,28600,0,0,1,0
672,1239402,State2,2,Male,1,1,1,1,444500,0,69100,375400,0,0,3,287
707,1670252,State2,2,Male,1,1,1,1,28200,0,28200,0,0,0,1,0
735,1794917,State2,2,Male,0,1,1,1,37800,0,37800,0,0,0,1,0
749,1585965,State2,2,Male,1,1,1,2,405200,40500,294000,70700,60000,0,3,152
761,1669697,State2,2,Male,1,1,1,1,245700,0,245700,0,229000,1,2,26
764,2203801,State2,2,Male,1,1,1,4,206000,0,128400,77600,0,0,5,241
765,716171,State2,2,Male,0,1,1,0,124000,0,53800,70200,0,0,2,10
766,2556707,State2,2,Male,1,1,1,0,507900,0,479200,28700,0,0,2,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278681,2555383,State1,1,Male,1,1,1,0,43500,43500,0,0,0,0,1,0
281322,776030,State1,1,Male,0,1,1,0,13300,0,0,13300,0,0,1,0
282003,2004949,State1,1,Male,1,1,1,0,67100,0,67100,0,0,0,1,0
282564,513144,State1,1,Male,0,1,1,1,20900,0,0,20900,0,0,1,0
283114,554456,State1,1,Male,0,1,1,0,54400,0,0,54400,0,0,1,0
283296,2195916,State1,1,Male,1,1,1,1,56700,41500,0,15200,0,0,1,0
285146,1160986,State1,1,Male,1,1,1,3,50300,50300,0,0,0,0,5,868
285191,2032106,State1,1,Male,0,1,1,1,111100,53800,57300,0,0,0,2,261
285397,1629439,State1,1,Male,1,1,1,3,58300,0,28200,30100,0,0,3,29
285631,683499,State1,1,Male,0,1,1,1,26000,0,0,26000,0,0,1,0
285640,2536185,State1,1,Male,1,1,1,0,51500,51500,0,0,0,0,1,0
286123,1588318,State1,1,Male,0,1,1,1,23400,0,2600,20800,0,0,1,0
286759,1260136,State1,1,Male,0,1,1,0,15100,0,15100,0,0,0,1,0
288808,1785871,State1,1,Male,0,1,1,1,28500,0,0,28500,0,0,1,0
289361,1940594,State1,1,Male,0,1,1,0,50900,0,0,50900,0,0,1,0
290101,2419123,State1,1,Male,1,1,1,1,94400,77400,0,17000,0,0,1,0
292305,1451824,State1,1,Male,0,1,1,0,51800,51800,0,0,0,0,1,0
292396,512865,State1,1,Male,0,1,1,1,33900,0,0,33900,0,0,1,0
292988,1549301,State1,1,Male,0,1,1,1,37600,37600,0,0,0,0,1,0
293023,529081,State1,1,Male,0,1,1,1,12100,0,0,12100,0,0,1,0
293865,1589121,State1,1,Male,1,1,1,1,64300,0,64300,0,0,0,1,0
294324,633700,State1,1,Male,0,1,1,1,14300,0,14300,0,0,0,1,0
294425,1673732,State1,1,Male,1,1,1,1,1600,0,1600,0,0,0,2,1
294437,1576281,State1,1,Male,1,1,1,1,107200,53000,54200,0,0,0,1,0
295662,2515677,State1,1,Male,1,1,1,0,124400,0,69100,55300,0,0,2,20
297368,354730,State1,1,Male,0,1,1,1,24800,0,0,24800,0,0,1,0
298379,1883684,State1,1,Male,1,1,1,3,90700,0,0,90700,0,0,3,24
298638,2512712,State1,1,Male,1,1,1,0,177300,0,143900,33400,0,0,2,2
298672,1805372,State1,1,Male,1,1,1,0,108200,42300,0,65900,0,0,1,0
298974,676593,State1,1,Male,0,1,1,1,49200,49200,0,0,0,0,1,0

In [113]:
customerData.query('GENDER1==1 & EMAIL > 0')

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
16,1154228,State2,2,Male,0,1,1,0,18200,0,0,18200,0,0,1,0
81,393246,State2,2,Male,0,1,1,1,18200,0,0,18200,0,0,1,0
206,2532568,State2,2,Male,1,1,1,0,48000,48000,0,0,0,0,1,0
216,487928,State2,2,Male,0,1,1,0,72300,0,27900,44400,0,0,1,0
226,2452240,State2,2,Male,1,1,1,1,22500,0,0,22500,0,0,1,0
299,1295854,State2,2,Male,1,1,1,2,59900,0,25100,34800,0,0,4,655
308,554757,State2,2,Male,0,1,1,0,22100,0,0,22100,0,0,1,0
330,761018,State2,2,Male,1,1,1,0,21200,0,0,21200,0,0,1,0
367,2191152,State2,2,Male,0,1,1,1,55700,0,55700,0,0,0,1,0
375,867914,State2,2,Male,0,1,1,0,14300,0,14300,0,0,0,1,0
415,1804886,State2,2,Male,0,1,1,1,35300,35300,0,0,0,0,1,0
420,1708130,State2,2,Male,0,1,1,4,59400,0,19000,40400,0,0,5,471
461,1701227,State2,2,Male,1,1,1,2,180300,0,180300,0,0,1,3,629
472,783314,State2,2,Male,0,1,1,0,11700,0,0,11700,0,0,1,0
577,2202752,State2,2,Male,1,1,1,1,145500,0,145500,0,0,0,1,0
588,1930071,State2,2,Male,0,1,1,0,30900,0,0,30900,0,0,1,0
589,1313388,State2,2,Male,0,1,1,1,33700,0,33700,0,0,0,1,0
599,801903,State2,2,Male,1,1,1,0,71400,71400,0,0,0,0,2,1
622,2028191,State2,2,Male,1,1,1,0,93300,0,93300,0,0,0,2,14
632,1832133,State2,2,Male,0,1,1,0,62700,0,62700,0,0,0,1,0
635,1770645,State2,2,Male,0,1,1,1,28600,0,0,28600,0,0,1,0
672,1239402,State2,2,Male,1,1,1,1,444500,0,69100,375400,0,0,3,287
707,1670252,State2,2,Male,1,1,1,1,28200,0,28200,0,0,0,1,0
735,1794917,State2,2,Male,0,1,1,1,37800,0,37800,0,0,0,1,0
749,1585965,State2,2,Male,1,1,1,2,405200,40500,294000,70700,60000,0,3,152
761,1669697,State2,2,Male,1,1,1,1,245700,0,245700,0,229000,1,2,26
764,2203801,State2,2,Male,1,1,1,4,206000,0,128400,77600,0,0,5,241
765,716171,State2,2,Male,0,1,1,0,124000,0,53800,70200,0,0,2,10
766,2556707,State2,2,Male,1,1,1,0,507900,0,479200,28700,0,0,2,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278681,2555383,State1,1,Male,1,1,1,0,43500,43500,0,0,0,0,1,0
281322,776030,State1,1,Male,0,1,1,0,13300,0,0,13300,0,0,1,0
282003,2004949,State1,1,Male,1,1,1,0,67100,0,67100,0,0,0,1,0
282564,513144,State1,1,Male,0,1,1,1,20900,0,0,20900,0,0,1,0
283114,554456,State1,1,Male,0,1,1,0,54400,0,0,54400,0,0,1,0
283296,2195916,State1,1,Male,1,1,1,1,56700,41500,0,15200,0,0,1,0
285146,1160986,State1,1,Male,1,1,1,3,50300,50300,0,0,0,0,5,868
285191,2032106,State1,1,Male,0,1,1,1,111100,53800,57300,0,0,0,2,261
285397,1629439,State1,1,Male,1,1,1,3,58300,0,28200,30100,0,0,3,29
285631,683499,State1,1,Male,0,1,1,1,26000,0,0,26000,0,0,1,0
285640,2536185,State1,1,Male,1,1,1,0,51500,51500,0,0,0,0,1,0
286123,1588318,State1,1,Male,0,1,1,1,23400,0,2600,20800,0,0,1,0
286759,1260136,State1,1,Male,0,1,1,0,15100,0,15100,0,0,0,1,0
288808,1785871,State1,1,Male,0,1,1,1,28500,0,0,28500,0,0,1,0
289361,1940594,State1,1,Male,0,1,1,0,50900,0,0,50900,0,0,1,0
290101,2419123,State1,1,Male,1,1,1,1,94400,77400,0,17000,0,0,1,0
292305,1451824,State1,1,Male,0,1,1,0,51800,51800,0,0,0,0,1,0
292396,512865,State1,1,Male,0,1,1,1,33900,0,0,33900,0,0,1,0
292988,1549301,State1,1,Male,0,1,1,1,37600,37600,0,0,0,0,1,0
293023,529081,State1,1,Male,0,1,1,1,12100,0,0,12100,0,0,1,0
293865,1589121,State1,1,Male,1,1,1,1,64300,0,64300,0,0,0,1,0
294324,633700,State1,1,Male,0,1,1,1,14300,0,14300,0,0,0,1,0
294425,1673732,State1,1,Male,1,1,1,1,1600,0,1600,0,0,0,2,1
294437,1576281,State1,1,Male,1,1,1,1,107200,53000,54200,0,0,0,1,0
295662,2515677,State1,1,Male,1,1,1,0,124400,0,69100,55300,0,0,2,20
297368,354730,State1,1,Male,0,1,1,1,24800,0,0,24800,0,0,1,0
298379,1883684,State1,1,Male,1,1,1,3,90700,0,0,90700,0,0,3,24
298638,2512712,State1,1,Male,1,1,1,0,177300,0,143900,33400,0,0,2,2
298672,1805372,State1,1,Male,1,1,1,0,108200,42300,0,65900,0,0,1,0
298974,676593,State1,1,Male,0,1,1,1,49200,49200,0,0,0,0,1,0

In [127]:
import pandas as pd
customerData=pd.read_csv("../dataset/kopo_customerdata.csv")
customerDataC = customerData[['CUSTOMERCODE','STATENAME','GENDER','TOTAL_AMOUNT']]

In [125]:
customerDataC.head()

   CUSTOMERCODE STATENAME  GENDER  TOTAL_AMOUNT
0       1503989    State2    Male         30300
1       1190338    State2    Male         46500
2       1424715    State2  Female         22700
3       2483305    State2    Male         31400
4       1178802    State2    Male         44900

In [ ]:
stnameNo=kopo_customer